PRELOAD_MODELS=true
GEMINI_API=AIzaSyBvSNiySHFGClevEnIASp7SZapQ0yVCXzo
SERP_API_KEY=ea89ee70c31f83aade9cf6d1bfb04cff3f2046976e8cc323515719f801a91ae8
RAPIDAPI_KEY=9f93085e44msh4682dc70c41d0b1p15088ajsne1f9b23862ab
RAPIDAPI_HOST=media-bias-fact-check-ratings-api2.p.rapidapi.com
# Add other environment variables as needed